header{

    background-color: #ffff;/*#CC3F55*/

    height: 75px;
   
   /*Borda :*/
   box-shadow: 1px  4px 4px  0px #00000055;
   position: relative;
   
   
}
   
.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
    width: 100%;
   
   }
   .cabecalho img{
     height: 20px;
    
   }
   
   .link_header{
     margin-left: 45px;
     color: rgb(11, 11, 11);
     text-decoration:none ;


     }
   @media screen and (max-width: 768px) {
       .cabecalho img{
           height: 35px;
   
       }
   
       .link_header{
   
           margin-left: 10px;
       }
   }